@helper Color(Accounting.Models.CategoryEumn category) {

string color;


switch (category) {
    case Accounting.Models.CategoryEumn.支出:
        color = "red";
        break;
    case Accounting.Models.CategoryEumn.收入:
        color = "blue";
        break;
    default:
        color = null;
        break;
}

<span style="color:@color">@category.ToString()</span>

}